@{
    ViewBag.Title = "Index";
    var qtddRodadas = ViewBag.QtddRodada;
    var listFase3 = ViewBag.JogosFase3;
    var listFase4 = ViewBag.JogosFase4;
    var listFase5 = ViewBag.JogosFase5;
    var listFase6 = ViewBag.JogosFase6;
}
@model IEnumerable<Barragem.Models.Jogo>
    <legend>Tabela de Jogos</legend>
                      
    <div class="box-body table-responsive no-padding no-border table-hover">
        
        <table class="table table-hover" style='margin-right: 30px; table-layout: fixed; width: 1100px;'>
                <thead>
                    <tr>
                        @if (qtddRodadas == 6) { 
                            <th>
                                <span>R32</span>
                            </th>
                            <th>
                                <span>R16</span>
                            </th>
                            <th>
                                <span>R8</span>
                            </th>
                        }
                        @if (qtddRodadas == 5){
                            <th>
                                <span>R16</span>
                            </th>
                            <th>
                                <span>R8</span>
                            </th>
                        }
                        @if (qtddRodadas == 4){
                            <th>
                                <span>R8</span>
                            </th>
                        }
                        <th>
                            <span>QF</span>
                        </th>
                        <th>
                            <span>SF</span>
                        </th>
                        <th>
                            <span>F</span>
                        </th>
                        <th>
                            <span>Vencedor</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model){
                        <tr>
                            <td>
                                <table style='border:1px dashed silver; table-layout: fixed; width: 120px;'>
                                    <tr>
                                        <td style="font-size: 13px; padding-left: 5px;">
                                            @Html.DisplayFor(modelItem => item.desafiado.nome)</td>
                                    </tr>
                                            @if (item.situacao_Id == 4){
                                                <tr>
                                                    <td style="font-size: 13px; padding-left: 5px;">
                                                        @Html.Raw(item.qtddGames1setDesafiado +"/"+ item.qtddGames1setDesafiante + " - " + item.qtddGames2setDesafiado +"/"+ item.qtddGames2setDesafiante) 
                                                        @if((item.qtddGames3setDesafiado!=0)||(item.qtddGames3setDesafiante!=0)){
                                                           @Html.Raw(" - " + item.qtddGames3setDesafiado + "/" + item.qtddGames3setDesafiante)
                                                        }  
                                                    </td>
                                                </tr>
                                            }
                                    <tr>
                                        <td style ="font-size: 13px; padding-left: 5px;">
                                            @if (item.desafiante == null)
                                            { @Html.Raw("bye") }
                                            else
                                            { @Html.DisplayFor(modelItem => item.desafiante.nome) }
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            @if (item.ordemJogo % 2 != 0) {
                                foreach (var item2 in ViewBag.JogosFase2){
                                    <td rowspan="2" style="vertical-align:middle">
                                        <table style='border:1px dashed silver; table-layout: fixed; width: 120px; height:100px'>
                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item2.desafiado == null){ @Html.Raw("Aguardando") }
                                                    else{ @Html.Raw(item2.desafiado.nome) }
                                                </td>
                                            </tr>
                                            @if (item2.situacao_Id == 4){
                                                <tr>
                                                    <td style="font-size: 13px; padding-left: 5px;">
                                                        @Html.Raw(item2.qtddGames1setDesafiado +"/"+ item2.qtddGames1setDesafiante + " - " + item2.qtddGames2setDesafiado +"/"+ item2.qtddGames2setDesafiante) 
                                                        @if((item2.qtddGames3setDesafiado!=0)||(item2.qtddGames3setDesafiante!=0)){
                                                           @Html.Raw(" - " + item2.qtddGames3setDesafiado + "/" + item2.qtddGames3setDesafiante)
                                                        }  
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item2.desafiante == null){ @Html.Raw("Aguardando") }
                                                else { @Html.Raw(item2.desafiante.nome) }
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    ViewBag.JogosFase2.Remove(item2);
                                    break;    
                                }
                            }
                                
                            @if ((item.ordemJogo == 1) || (item.ordemJogo == 5) || (item.ordemJogo == 9) || (item.ordemJogo == 13) || (item.ordemJogo == 17) || (item.ordemJogo == 21) || (item.ordemJogo == 25) || (item.ordemJogo == 29)){
                                foreach (var item3 in listFase3){
                                    <td rowspan="4" style="vertical-align:middle">
                                        <table style='border:1px dashed silver; table-layout: fixed; width: 120px; height:200px'>
                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item3.desafiado == null)
                                                    { @Html.Raw("Aguardando") }
                                                    else
                                                    { @Html.Raw(item3.desafiado.nome) }
                                                </td>
                                            </tr>
                                            @if (item3.situacao_Id == 4){
                                                <tr>
                                                    <td style="font-size: 13px; padding-left: 5px;">
                                                        @Html.Raw(item3.qtddGames1setDesafiado +"/"+ item3.qtddGames1setDesafiante + " - " + item3.qtddGames2setDesafiado +"/"+ item3.qtddGames2setDesafiante) 
                                                        @if((item3.qtddGames3setDesafiado!=0)||(item3.qtddGames3setDesafiante!=0)){
                                                           @Html.Raw(" - " + item3.qtddGames3setDesafiado + "/" + item3.qtddGames3setDesafiante)
                                                        }  
                                                    </td>
                                                </tr>
                                            }

                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item3.desafiante == null)
                                                    { @Html.Raw("Aguardando") }
                                                    else
                                                    { @Html.Raw(item3.desafiante.nome) }
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    listFase3.Remove(item3);
                                    break;
                                }
                            }
                            @if ((item.ordemJogo == 1) || (item.ordemJogo == 9) || (item.ordemJogo == 17) || (item.ordemJogo == 25)){
                                foreach (var item4 in listFase4){
                                    <td rowspan="8" style="vertical-align:middle">
                                        <table style='border:1px dashed silver; table-layout: fixed; width: 120px; height:440px'>
                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item4.desafiado == null)
                                                    { @Html.Raw("Aguardando") }
                                                    else
                                                    { @Html.Raw(item4.desafiado.nome) }
                                                </td>
                                            </tr>
                                            @if (item4.situacao_Id == 4)
                                            {
                                                <tr>
                                                    <td style="font-size: 13px; padding-left: 5px;">
                                                        @Html.Raw(item4.qtddGames1setDesafiado + "/" + item4.qtddGames1setDesafiante + " - " + item4.qtddGames2setDesafiado + "/" + item4.qtddGames2setDesafiante)
                                                        @if ((item4.qtddGames3setDesafiado != 0) || (item4.qtddGames3setDesafiante != 0))
                                                        {
                                                            @Html.Raw(" - " + item4.qtddGames3setDesafiado + "/" + item4.qtddGames3setDesafiante)
                                                        }
                                                    </td>
                                                </tr>
                                            }

                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item4.desafiante == null)
                                                    { @Html.Raw("Aguardando") }
                                                    else
                                                    { @Html.Raw(item4.desafiante.nome) }
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    listFase4.Remove(item4);
                                    break;
                                }
                            }
                            @if ((item.ordemJogo == 1) || (item.ordemJogo == 17)){
                                foreach (var item5 in listFase5){
                                    <td rowspan="16" style="vertical-align:middle">
                                        <table style='border:1px dashed silver; table-layout: fixed; width: 120px; height:860px'>
                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item5.desafiado == null)
                                                    { @Html.Raw("Aguardando") }
                                                    else
                                                    { @Html.Raw(item5.desafiado.nome) }
                                                </td>
                                            </tr>
                                            @if (item5.situacao_Id == 4)
                                            {
                                                <tr>
                                                    <td style="font-size: 13px; padding-left: 5px;">
                                                        @Html.Raw(item5.qtddGames1setDesafiado + "/" + item5.qtddGames1setDesafiante + " - " + item5.qtddGames2setDesafiado + "/" + item5.qtddGames2setDesafiante)
                                                        @if ((item5.qtddGames3setDesafiado != 0) || (item5.qtddGames3setDesafiante != 0))
                                                        {
                                                            @Html.Raw(" - " + item5.qtddGames3setDesafiado + "/" + item5.qtddGames3setDesafiante)
                                                        }
                                                    </td>
                                                </tr>
                                            }

                                            <tr>
                                                <td style="font-size: 13px; padding-left: 5px;">
                                                    @if (item5.desafiante == null)
                                                    { @Html.Raw("Aguardando") }
                                                    else
                                                    { @Html.Raw(item5.desafiante.nome) }
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    listFase5.Remove(item5);
                                    break;
                                }
                            }
                            @if (item.ordemJogo == 1){
                                foreach (var item6 in listFase6){
                                    <td rowspan="32" style="vertical-align:middle">
                                            <table style='border:1px dashed silver; table-layout: fixed; width: 120px; height:1280px'>
                                                <tr>
                                                    <td style="font-size: 13px; padding-left: 5px;">
                                                        @if (item6.desafiado == null)
                                                        { @Html.Raw("Aguardando") }
                                                        else
                                                        { @Html.Raw(item6.desafiado.nome) }
                                                    </td>
                                                </tr>
                                                @if (item6.situacao_Id == 4)
                                                {
                                                    <tr>
                                                        <td style="font-size: 13px; padding-left: 5px;">
                                                            @Html.Raw(item6.qtddGames1setDesafiado + "/" + item6.qtddGames1setDesafiante + " - " + item6.qtddGames2setDesafiado + "/" + item6.qtddGames2setDesafiante)
                                                            @if ((item6.qtddGames3setDesafiado != 0) || (item6.qtddGames3setDesafiante != 0))
                                                            {
                                                                @Html.Raw(" - " + item6.qtddGames3setDesafiado + "/" + item6.qtddGames3setDesafiante)
                                                            }
                                                        </td>
                                                    </tr>
                                                }

                                                <tr>
                                                    <td style="font-size: 13px; padding-left: 5px;">
                                                        @if (item6.desafiante == null)
                                                        { @Html.Raw("Aguardando") }
                                                        else
                                                        { @Html.Raw(item6.desafiante.nome) }
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    listFase6.Remove(item6);
                                    break;
                                }
                            }
                            @if ((item.ordemJogo == 1)){
                                <td rowspan="64" style="vertical-align:middle">Vencedor</td>
                            }
                            </tr>
                        }
                    
                </tbody>
            </table>

    @if ((Roles.IsUserInRole("admin"))||(Roles.IsUserInRole("organizador"))){
        <div class="row">
            <div class="pull-left" style="padding-bottom: 6px">
                <a href="@Url.Action("EfetuarSorteioFase2", new {torneioId = @ViewBag.torneioId })" title="Voltar" class="btn btn-primary">Efetuar Sorteio</a>
            </div>
        </div>
    }
    
    </div>
