@model Barragem.Models.Torneio
@{
    ViewBag.Title = "Torneio de Tênis";
    Layout = "~/Views/Shared/_LayoutTorneio.cshtml";
}
<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-1"></li>
        </ul>
    </div>
</div>
<section class="promo section section-on-bg">
    <div class="container text-center">
        <h2 class="title">@Html.Raw(Model.nome)</h2>
        <p class="intro">De @Html.Raw(String.Format("{0:dd/MM/yyyy}", Model.dataInicio)) até @Html.Raw(String.Format("{0:dd/MM/yyyy}", Model.dataFim))</p>
        <p><a class="btn btn-cta btn-cta-primary" href="@Url.Action("RegisterTorneio", "Account")">Inscreva-se</a> <a class="btn btn-cta btn-cta-primary" href="@Url.Action("Informacao", "Torneio")">Mais Informações</a></p>
    </div>
</section>
<div class="sections-wrapper">
    <section class="steps section">
        <div class="container">
            <div class="row">
                <div class="step text-center col-xs-12 col-sm-4">
                    <h3 class="title"><span class="number"><span class="glyphicon glyphicon-list"></span></span><br><span class="text">Inscrições</span></h3>
                    <p>As inscrições do Torneio vão até o dia @Html.Raw(Model.dataFimInscricoes). O valor da inscrição é R$ @Html.Raw(Model.valor),00</p>
                </div><!--//step-->
                <div class="step text-center col-xs-12 col-sm-4">
                    <h3 class="title"><span class="number"><img style="padding-bottom:15px" src="/Content/image/trophy_win.png" width="40" height="50"></span><br><span class="text">Premiação</span></h3>
                    <p>@Html.Raw(Model.premiacao)</p>
                </div><!--//step-->
                <div class="step text-center col-xs-12 col-sm-4">
                    <h3 class="title"><span class="number"><span class="glyphicon glyphicon-phone"></span></span><br><span class="text">Contato</span></h3>
                    <p>@Html.Raw(ViewBag.contato)</p>
                </div><!--//step-->
            </div><!--//row-->
            <div class="text-center"><a class="btn btn-cta btn-cta-primary" href="@Url.Action("RegisterTorneio", "Account")">Inscreva-se</a></div>
        </div><!--//container-->
    </section>
</div>
